
/* estilo de la pagina */
* {
    margin: auto;
    padding: auto; 
    margin-top:10px;
    margin-left:10px; 
    margin-bottom: 10px;
    margin-right: 10px;
    
}

body {
    background-color: white;
    color: black;

}

.nav-link{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: black;
    border: rgb(5, 143, 0) 1px solid;
    width: 100%;
    
    
  
}

.nav-link:hover {
      background-color: #3e8e41;
      color: #fff;
      }