/* estilo de la pagina */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    color: black;

}

.general {
    width: 1300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;



}

header {
    height: 120px;
    background-color: white;
    border: rgb(5, 143, 0) 1px solid;
    text-align: center;
    line-height: 100px;
}


nav {
    background-color: rgb(5, 143, 0);
    height: 15px;

}

#trom {
    width: 15%;
    height: 400px;
    float: left;
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: rgb(5, 143, 0) 1px solid;

}

aside {
    width: 82%;
    height: auto;
    float: right;
    background-color: white;
    margin-top: 10px;
    border: rgb(5, 143, 0) 1px solid;
    margin-right: 10px;
    margin-bottom: 10px
}

footer {
    background-color: green;
    clear: both;
    margin-top: 10px;
    text-align: center;
    width: auto;


}


/* estile del menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: rgb(5, 143, 0) 1px solid;
    text-align: center;




}

/* Change the link color on hover */
li a:hover {
    background-color: rgb(5, 143, 0);
    color: white;
}

/* img*/

.yot {
    height: 120px;
    float: left;
}

.tuud {
    width: 100%;
    height: 30px;
    float: right;
    background-color: green;
    margin-top: 0px;
	border: rgb(5, 143, 0) 1px solid;
	color: white;


}

.tood {
    width: 95%;

    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

</style >
